.hero-image {
  height: 600px;
  width: 100%;
  background-image: url(../../assets/hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.small-text{
  font-size: clamp(.6em, .7em, .8em );
}

.max-width{
  max-width: 300px;
}

.hero-top-pad{
  padding: 4em 2em 2em 2em;
  margin: auto;
  max-width: 1920px;
}

.copy-two{
  padding-top: 9em;
  align-items: flex-end;
}

.testimonials{
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 10em;
  background-color: black;
  color: white;
}

.grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 9em;
}