.page-wrapper {
  overflow: hidden;
}

.navbar-contain {
  margin: auto;
  max-width: 1920px;
  padding: 2.4em 2em 2.4em 2em;

}

.container {
  margin: auto;
  max-width: 1920px;
  padding: 2em 2em 2em 2em;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.space-between {
  justify-content: space-between;
}

.strech{
  align-self: stretch;
  justify-items: stretch;
  align-content: stretch;
  justify-content: stretch;
}

.align {
  align-items: center;
}

.ml-two {
  margin-right: 20px;
}


@media only screen and (min-width: 1560px) {
	body {font-size: 15.6px;}
}

@media only screen and (min-width: 992px) and (max-width: 1200px)  {
     p {font-size: 12.48px;}
}
