.page-wrapper {
  overflow: hidden;
}

.navbar-contain {
  margin: auto;
  max-width: 1920px;
  padding: 2.4em 2em 2.4em 2em;
}

.container {
  margin: auto;
  max-width: 1920px;
  padding: 1em 2em 1em 2em;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.space-between {
  justify-content: space-between;
}

.strech{
  align-self: stretch;
  justify-items: stretch;
  align-content: stretch;
  justify-content: stretch;
}

.align {
  align-items: center;
}

.ml-two {
  margin-right: 20px;
}
